body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Back Button */
.back-btn {
  background: #444;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.back-btn:hover {
  background: #222;
}

#requestsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 700px;
  margin: auto;
}

.request-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s ease;
}

.request-card:hover {
  transform: translateY(-5px);
}

.request-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-bottom: 10px;
  color: #2e7d32;
}

.card-content p {
  margin: 5px 0;
}

/* Status Badge */
.status-badge {
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
}

/* Status Colors */
.pending {
  background-color: #ffdddd;
  color: #d32f2f;
}

.assigned {
  background-color: #fff8d6;
  color: #f9a825;
}

.collected {
  background-color: #d4edda;
  color: #2e7d32;
}

/* Create Assignment Button */
.assign-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.assign-btn:hover {
  background-color: #125aa0;
}

/* No request message */
.no-request {
  text-align: center;
  font-size: 18px;
  color: #777;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 40px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

/* <img src="http://127.0.0.1:5000${request.image}" 
             alt="Waste Image" 
             class="waste-img" /> */