<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Agent Status</title>
  <link rel="stylesheet" href="as.css">
</head>
<body>

  <div class="back-container">
    <button id="backBtn">← Back to Agent Management</button>
  </div>

  <h1 class="title">AGENT STATUS MANAGEMENT</h1>

  <table id="agentTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Agent ID</th>
        <th>Status</th>
        <th>Assigned Pending Orders</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <script src="as.js"></script>
</body>
</html>